.DS_Store
*.pdf
*.epub
*.mht
*.xlsx
*.xls
*.docx
*.pptx
*.png
*.jpg
*.jpeg
*.gif
*.webp
!assets/images/**/*.png
!assets/images/**/*.jpg
!assets/images/**/*.jpeg
!assets/images/**/*.webp
discord-*.json
source_assets/
private/
